<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>
<p>
  <%= image_tag @photo.image_url(:thumb).to_s %>
</p>
<p>
  <%= image_tag @photo.image_url(:birdified).to_s %>
</p>
<p>
  <%= image_tag @photo.image_url(:edgified).to_s %>
</p>
<p>
  <%= image_tag @photo.image_url(:nightified).to_s %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
